---
import CardProject from "../components/CardProject.astro";

const portfolioArray = [
    {
        nombre:"Proyecto de Desarrollo Web",
        detalle:"Sitio web realizado para mi curso de desarrollo web, basado en una guia turistica de un departamento ubicado en Salta, encontraras informacion principalmente sobre su economia, lugares turisticos, productos regionales y gastronima.",
        repositorio:"https://github.com/TolabaE/proyectoWeb",
        demo:"https://pimentonrojo.netlify.app/",
        tecnologias:[
            {
                src:"https://blog.hubspot.es/hubfs/media/imagenhtmlejemplo.png",
                alt:"imagen del logo de html5"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png",
                alt:"imagen del logo de css3"
            },
            {
                src: "https://blog.baehost.com/wp-content/uploads/2017/12/bootstrap.png",
                alt: "imagen del logo de bootstrap"
            },
            {
                src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMd7eiGMX9FwRLC0uJTDewSjw_7_WvCF4ABLdwztLrCnPEXrqW0gG-pH8eT-fYPLlghjY&usqp=CAU",
                alt: "logo del compilador sass"
            }
        ],
        portada:"/images/proyectoweb.webp"
    },
    {
        nombre:"Proyecto Javascript",
        detalle:"Realizado para mi curso de javascript, es un ecommerce que simula ser una ferreteria, usando javascript vanilla y con almacenamiento de carrito en el localstorage.",
        repositorio:"https://github.com/TolabaE/proyectoJavaScript",
        demo:"https://ecommerceferreteria.netlify.app/",
        tecnologias:[
            {
                src:"https://blog.hubspot.es/hubfs/media/imagenhtmlejemplo.png",
                alt:"imagen del logo de html5"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png",
                alt:"imagen del logo de css3"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png",
                alt:"logo de javascript"
            },
            {
                src: "https://blog.baehost.com/wp-content/uploads/2017/12/bootstrap.png",
                alt: "imagen del logo de bootstrap"
            },
            {
                src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMd7eiGMX9FwRLC0uJTDewSjw_7_WvCF4ABLdwztLrCnPEXrqW0gG-pH8eT-fYPLlghjY&usqp=CAU",
                alt: "logo del sass"
            },
            {
                src:"https://sgo.pm.ce.gov.br/_lib/libraries/grp/sweetalert/sweetalert2-9.7.2/assets/swal2-logo-square.png",
                alt:"sweetalert"
            },
        ],
        portada:"/images/imagendefondo.webp"
    },
    {
        nombre:"Chats en Node.js",
        detalle:"",
        repositorio:"hthhth",
        demo:"",
        tecnologias:[
            {
                src:"https://progsoft.net/images/ejs-icon-bccf3f017751a71ee75c69021ee1020fc0d9067e.jpg",
                alt:"logo de la plantilla ejs"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png",
                alt:"imagen del logo de css3"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png",
                alt:"logo de javascript"
            },
            {
                src:"https://victorroblesweb.es/wp-content/uploads/2018/01/nodejs-victorroblesweb.png",
                alt:"logo de node js"
            },
            {
                src:"https://sp-ao.shortpixel.ai/client/q_glossy,ret_img,w_256/https://itsolution24x7.com/blog/wp-content/uploads/2020/06/socketio.png",
                alt:"logo de socket.io"
            },
            {
                src:"https://w7.pngwing.com/pngs/925/447/png-transparent-express-js-node-js-javascript-mongodb-node-js-text-trademark-logo.png",
                alt:"logo de express.js"
            },
            {
                src:"https://www.pngall.com/wp-content/uploads/13/Mongodb-PNG-Pic.png",
                alt:"Logo de mongo DB"
            },
        ],
        portada:"/images/proyectochats.webp"
    },
    {
        nombre:"Proyecto en React.Js",
        detalle:"",
        repositorio:"hthhth",
        demo:"",
        tecnologias:[
            {
                src:"https://blog.hubspot.es/hubfs/media/imagenhtmlejemplo.png",
                alt:"imagen del logo de html5"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png",
                alt:"imagen del logo de css3"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png",
                alt:"logo de javascript"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png",
                alt:"logo del frameworks react.js"
            },
            {
                src:"https://cdn.icon-icons.com/icons2/2699/PNG/512/firebase_logo_icon_171157.png",
                alt:"logo de firebase"
            },
            {
                src: "https://blog.baehost.com/wp-content/uploads/2017/12/bootstrap.png",
                alt: "imagen del logo de bootstrap"
            },
            {
                src:"https://sgo.pm.ce.gov.br/_lib/libraries/grp/sweetalert/sweetalert2-9.7.2/assets/swal2-logo-square.png",
                alt:"sweetalert"
            },
        ],
        portada:"/images/proyectoReactJS.webp"
    },
    {
        nombre:"Proyecto Backend en express",
        detalle:"",
        repositorio:"hthhth",
        demo:"",
        tecnologias:[
            {
                src:"https://progsoft.net/images/ejs-icon-bccf3f017751a71ee75c69021ee1020fc0d9067e.jpg",
                alt:"logo de la plantilla ejs"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png",
                alt:"imagen del logo de css3"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png",
                alt:"logo de javascript"
            },
            {
                src:"https://w7.pngwing.com/pngs/925/447/png-transparent-express-js-node-js-javascript-mongodb-node-js-text-trademark-logo.png",
                alt:"logo de express.js"
            },
            {
                src:"https://www.pngall.com/wp-content/uploads/13/Mongodb-PNG-Pic.png",
                alt:"Logo de mongo DB"
            }
        ],
        portada:"/images/proyectobackend.png"
    },
    {
        nombre:"Proyecto Frontend",
        detalle:"",
        repositorio:"hthhth",
        demo:"",
        tecnologias:[
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png",
                alt:"logo del frameworks react.js"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png",
                alt:"imagen del logo de css3"
            },
            {
                src:"https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png",
                alt:"logo de javascript"
            },
        ],
        portada:"/images/ventalibrosmedicina.webp"
    }
]

---
<h2 class=" mt-4 text-center text-2xl md:text-3xl font-semibold text-white"><span class="text-cyan-400">Proyectos </span>Personales</h2>
<div class="flex flex-col gap-6 items-center md:flex-row  md:justify-between flex-wrap py-4">
    {
        portfolioArray.map(item =>(
            <CardProject
                imagen={item.portada}
                title={item.nombre}
                description={item.detalle}
                github={item.repositorio}
                deploy={item.demo}
                tecnology={item.tecnologias}
            />
        ))
    }
</div>
<h2 class=" mt-4 text-center text-2xl md:text-3xl font-semibold text-white"><span class="text-cyan-400">Proyectos </span>Empresariales</h2>