---
import CardWork from "../components/CardWork.astro";

const expLaboral = [
    {
        nombre:"COTO Digital",
        fecha:"Mayo 2024 - Presente",
        logo:"./images/companieslogo/logocoto.png",
        puesto:"Armador de Pedidos",
        terminos:"Periodo de prueba"
    },
    {
        nombre:"No Country",
        fecha:"Octubre 2023 - Marzo 2024",
        logo:"./images/companieslogo/logoNocountry.png",
        puesto:"Desarrollador Back-end NodeJs",
        terminos:"Practicas"
    },
    {
        nombre:"Polo IT",
        fecha:"Octubre 2023 - Febrero 2024",
        logo:"./images/companieslogo/logoPoloit.jpg",
        puesto:"Desarrollador Front-end",
        terminos:"Practicas"
    },
    {
        nombre:"Foo Talent",
        fecha:"Agosto 2023 - Septiembre 2023",
        logo:"./images/companieslogo/logFootalent.jpeg",
        puesto:"Desarrollador Front-end",
        terminos:"Temporal"
    }
];

---

<div>
    <h2 class="text-center font-semibold text-2xl md:text-4xl text-white">Experiencia <span class=" text-cyan-400">Laboral</span></h2>
    {
        expLaboral.map(item =>(
            <CardWork
                periodo={item.fecha}
                empresa={item.nombre}
                empleo={item.puesto}
                logoEmpresa={item.logo}
                contrato={item.terminos}
            />
        ))
    }
</div>