---
import CardImage from './CardImage.astro';

type tecnologia={
    src:string,
    alt:string
}

interface Props {
    imagen:string,
    title:string,
    description:string,
    tecnology:Array<tecnologia>,
    github:string,
    deploy:string
}

const {title,description,tecnology,github,deploy,imagen} = Astro.props;

---

<div class=" text-white card__project relative">
    <img src={imagen} class="card__project-image" alt="descripcion de la imagen">
    <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/double-up.png" alt="double-up" class="absolute top-0.5 left-1 lg:opacity-0">
    <div class="card__project-info p-2 md:p-3 gap-y-1 md:gap-y-2 lg:gap-y-3 w-full">
        <h2 class="text-center text-lg md:text-xl text-cyan-400 font-semibold">{title}</h2>
        <p class="text-left text-sm md:text-base"> {description} </p>
        <div>
            <b><span class="text-cyan-400">Tecnologias</span> utilizadas:</b>
            <div class="flex gap-2 items-center justify-around py-2">
                {
                    tecnology.map(item =>(
                        <CardImage
                            image={item.src}
                            detail={item.alt}
                        />
                    ))
                }
            </div>
        </div>
        <div class="flex justify-around">
            <button class="bg-neutral-900 text-sm md:text-base font-semibold lg:px-4 py-1 px-2 rounded-lg btn-github"><a href={github} target="_blank">Github</a></button>
            <button class="bg-cyan-400 text-sm md:text-base font-semibold lg:px-4 py-1 px-2 rounded-lg btn-demo"><a href={deploy} target="_blank">Deploy</a></button>
        </div>
    </div>
    <div class="animation-card">

    </div>
</div>

<style>
    .card__project{
        border: 4px solid cyan;
        position: relative;
        width: 400px;
        height: 330px;
        border-radius: 8px;
    }
    .card__project-image{
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 4px;
    }
    .card__project-info{
        position: absolute;
        top: 0;
        opacity: 0;
    }
    .animation-card{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        transition: all 1s;
        background-color: #1f2937;
        border-radius: 4px;
    }
    .card__project:hover .card__project-info{
        display: flex;
        flex-direction: column;
        opacity: 1;
        z-index: 1;
        transition: all 1s;
    }
    .card__project:hover .animation-card{
        height: 100%;
        transition: all 1s;
        box-shadow: 0 0 25px #00E8F8;
    }
    .btn-github:hover{
        box-shadow: 0 0 20px #6e6e6e;
    }
    .btn-demo:hover{
        box-shadow: 0 0 20px #00E8F8;
    }
    @media screen and (min-width:1536px) {
        .card__project{
        width: 500px;
        height: 420px;
    }
    }
    /*estilo para mobile  */
    @media screen and (max-width:767px) {
        .card__project{
            width: 90vw;
            height:40vh;
        }
        .trabajo{
            background-color: #00E8F8;
        }
    }

</style>