---
interface Props {
    periodo:string,
    empresa:string,
    empleo:string,
    logoEmpresa:string,
    contrato:string
}

const {periodo,empresa,empleo,logoEmpresa,contrato} = Astro.props;

---
<div class="flex justify-between rounded-md hover:shadow-md lg:hover:shadow-cyan-400 border-b-2 md:rounded-xl lg:border-b-2 m-4 p-4 md:m-8 border-b-cyan-400 items-center 2xl:mx-20">
    <div>
        <p class="text-lg lg:text-2xl text-cyan-400 font-bold">Puesto: <span class="text-white">{empleo}</span></p>
        <p class="text-sm lg:text-lg text-cyan-400 font-semibold">Periodo: <span class="text-white">{periodo}</span></p>
        <h3 class="text-cyan-400 font-semibold text-sm lg:text-base">Empresa: <span class="text-white">{empresa}</span> </h3>
        <p class="text-white font-semibold">Contrato: <span class="text-cyan-400">{contrato}</span></p>
    </div>
    <img src={logoEmpresa} alt="imagen de la empresa" class="w-20 lg:w-28 2xl:w-32 rounded-md shadow shadow-cyan-400">
</div>