---
interface Props {
    instituto:string,
    titulo:string,
    fecha:string,
    estado:string,
    imagen:string
}

const {instituto,titulo,fecha,estado,imagen} = Astro.props;
---

<div class="flex flex-col border-2 border-cyan-400 m-2 p-2 rounded-xl md:p-4 md:my-6 w-32 md:w-72 md:gap-2">
    <h3 class="text-cyan-400 font-bold text-base md:text-xl text-center">{instituto}</h3>
    <img src={imagen} alt="imagen del certificado" class="w-full md:h-52 rounded-md">
    <!-- <h2 class="text-cyan-400">Estudio Secundario</h2> -->
    <p class="text-base md:text-xl">{titulo}</p>
    <p class="text-sm md:text-base"><span class="text-cyan-400">Periodo | </span> {fecha}</p>
    <b class="text-base">Estado: <span class="text-cyan-400">{estado}</span></b>
</div>