---
import CardServices from '../components/CardServices.astro';
import dataServices from '../JSON/services.json';


const servicesJSON = dataServices[2];
---

<section class="p-2 md:p-8" id="services">
    <h2 class="text-center text-2xl md:text-4xl font-semibold text-white">Mis <span class="text-cyan-400">Herramientas</span></h2>
    <div class="flex flex-wrap justify-evenly py-2 md:py-6">
        {
            servicesJSON.map(item =>(
                <CardServices
                imagen={item.image}
                descripcion={item.description}
                nombre={item.name}
                />
            ))
        }
    </div>
    <!-- <h2 class="text-center text-2xl md:text-4xl font-semibold text-white">Tecnologías <span class="text-cyan-400">Secundarias</span></h2>
    <div class="flex flex-wrap justify-evenly py-2 md:py-6">
        {
            lastServices.map(item =>(
                <CardServices
                imagen={item.image}
                descripcion={item.description}
                nombre={item.name}
                />
            ))
        }
    </div> -->
</section>